* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f0f0f;
    color: #fff;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ), url("images/gate.jpg") center/cover no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    align-items: center;
}

nav h1 {
    font-size: 28px;
    font-weight: 800;
}

nav h1 span {
    color: #ffb703;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.hero-content {
    text-align: center;
    margin-top: 12%;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 800;
}

.hero-content span {
    color: #ffb703;
}

.hero-content p {
    margin: 20px 0;
    font-size: 18px;
}

.btn {
    padding: 15px 35px;
    background: #ffb703;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 50px;
}

/* ABOUT */
.about {
    padding: 80px 15%;
    text-align: center;
    background: #111;
}

/* SERVICES */
.services {
    padding: 80px 10%;
}

.services h2 {
    text-align: center;
    margin-bottom: 50px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.service {
    background: #1a1a1a;
    padding: 25px;
    text-align: center;
    border-left: 4px solid #ffb703;
    transition: 0.3s;
}

.service:hover {
    transform: translateY(-8px);
}

/* GALLERY */
.gallery {
    padding: 80px 10%;
    background: #111;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 12px;
    transition: 0.3s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* CONTACT */
.contact {
    padding: 80px 15%;
    text-align: center;
}

.whatsapp {
    background: #25D366;
    color: #000;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
}

form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
}

textarea {
    resize: none;
    height: 120px;
}

.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.messenger {
    background: #0084ff;
    color: #fff;
}
